// ==============================
// Custom style
// ==============================

p {
  font-size: 18px; /* Размер шрифта */    
  text-align: justify; /* Выравнивание текста по ширине */
  line-height: 1.6; /* Межстрочный интервал */
  margin-bottom: 20px !important; /* Принудительно применяет отступ */
  overflow-wrap: break-word; /* Позволяет переносить длинные слова */
  hyphens: auto; /* Автоматически добавляет переносы слов по слогам */
   
  h1 {
    margin-bottom: 50px !important;/* Увеличивает расстояние между заголовком h1 и следующим абзацем */
  }
  
  h2 {
    margin-bottom: 30px !important;/* Увеличивает расстояние между заголовком h2 и следующим абзацем */
  }
  
  h3 {
    margin-bottom: 20px !important; /* Увеличивает расстояние между заголовком h3 и следующим абзацем */
  }

  h1, h2, h3 {
    text-align: justify; /* Выравнивание заголовков по ширине */
  }

  iframe {
    margin-top: 40px; /* Увеличивает расстояние между текстом и видео */
    display: block; /* Убедитесь, что iframe ведет себя как блоковый элемент */
}
}

