@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-weight: var(--global-font-weight);
  font-display: swap;
  font-size: var(--global-font-size);
  line-height: var(--global-line-height);
  width: 100%;

  scroll-behavior: smooth;

  main [id] {
    scroll-margin-top: calc(var(--header-height) + .5rem);
  }

  h1 {
    line-height: 125%;
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
}

p,
a,
small,
strong {
  font-family: "Bodoni Moda";
}

/* scrollbar, only support webkit */
::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-color;

  &:hover {
    background-color: $scrollbar-hover-color;
  }
}

::selection {
  background-color: $selection-color;

  [theme=dark] & {
    background-color: $selection-color-dark;
  }
}

body {
  background-color: $global-background-color;
  color: $global-font-color;
  @include overflow-wrap(break-word);
  scrollbar-color: auto;

  &[theme=dark] {
    color: $global-font-color-dark;
    background-color: $global-background-color-dark;
  }
}

@include link(true, true);

@import "../_partial/mask";
@import "../_partial/img";
@import "../_partial/icon";
@import "../_partial/details";
@import "../_partial/fixed-button";
@import "../_partial/cookieconsent";