<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/lightgallery/css/lightgallery-bundle.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/lightgallery/lightgallery.umd.min.js"></script>
<div id="bootstrap-gallery-carousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="images/post-1/Bilbao_collage_1.jpg"
        class="d-block w-100"
        alt="lightslider"
      />
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#bootstrap-gallery-carousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#bootstrap-gallery-carousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{{.Inner}}
<script>
  // Get the carousel element by its ID
  let carouselEl = document.getElementById("bootstrap-gallery-carousel");

  // Create a new Bootstrap 5 Carousel instance with specified options
  const carousel = new bootstrap.Carousel(carouselEl, {
    interval: 2000,
    wrap: false,
  });

  // Add an event listener for the 'slide.bs.carousel' event, fires immediately when the slide instance method is invoked.
  carouselEl.addEventListener("slide.bs.carousel", (event) => {
    const container = document.querySelector(".carousel-inner");
    window.lightGallery(container, {
      plugins: [lgThumbnail],
      selector: ".lg-item",
    });
  });
</script>
